In [2]:
#Get Station Dict
# import pandas as pd
# stationData = pd.DataFrame.from_csv('./data/201402_station_data.csv')
# # help(sampleTripMilestones)

# stationDict={}
# for index, row in stationData.reset_index().iterrows():
#     stationDict[row['name']] = row['station_id']

# stationDict

In [4]:
# #Get the Station Bike changes. Each trip results in one +. one - entry
# import csv
# tripFile = './data/201402_trip_data.csv'
# stationChangeFile = 'extractedData/201402_StationChanges.csv'
# with open(tripFile,"r") as source:
#     rdr= csv.reader( source )
#     with open(stationChangeFile,"w") as stationChange:
#         wtr= csv.writer( stationChange )
#         wtr.writerow(('Time','Station','Change'))
#         rowCount=0
#         for r in rdr:
# #             if (rowCount > 5):
# #                 break
#             if (rowCount == 0):
#                 rowCount = rowCount + 1
#                 continue
#             wtr.writerow( (r [2], stationDict[r[3]], -1 ) )
#             wtr.writerow( (r [5], stationDict[r[6]], 1 ) )
# #             print rowCount
#             rowCount = rowCount + 1

# print 'done'

done

In [2]:
# Sum the counts per minute

import pandas as pd


stationData = pd.DataFrame.from_csv('./data/201402_station_data.csv')
# stationData

In [3]:
stationChanges = pd.DataFrame.from_csv('./extractedData/201402_StationChanges.csv')
stationChanges

                     Station  Change
Time
2013-08-29 14:13:00       66      -1
2013-08-29 14:14:00       66       1
2013-08-29 14:42:00       10      -1
2013-08-29 14:43:00       10       1
2013-08-29 10:16:00       27      -1
2013-08-29 10:17:00       27       1
2013-08-29 11:29:00       10      -1
2013-08-29 11:30:00       10       1
2013-08-29 12:02:00       66      -1
2013-08-29 12:04:00       67       1
2013-08-29 18:54:00       59      -1
2013-08-29 18:56:00       59       1
2013-08-29 13:25:00        4      -1
2013-08-29 13:27:00        5       1
2013-08-29 14:02:00        8      -1
2013-08-29 14:04:00        8       1
2013-08-29 17:01:00       66      -1
2013-08-29 17:03:00       66       1
2013-08-29 11:33:00       10      -1
2013-08-29 11:35:00       11       1
2013-08-29 13:52:00       49      -1
2013-08-29 13:55:00       54       1
2013-08-29 13:23:00        6      -1
2013-08-29 13:25:00        4       1
2013-08-29 19:32:00       28      -1
2013-08-29 19:35:00       28       1
2013-08-29 13:57:00       64      -1
2013-08-29 13:59:00       64       1
2013-08-29 12:31:00       41      -1
2013-08-29 12:33:00       56       1
...                      ...     ...
2014-02-28 20:40:00       28      -1
2014-02-28 20:45:00       32       1
2014-02-28 20:59:00       77      -1
2014-02-28 21:09:00       66       1
2014-02-28 20:59:00       77      -1
2014-02-28 21:06:00       72       1
2014-02-28 21:32:00       41      -1
2014-02-28 21:43:00       47       1
2014-02-28 21:32:00       61      -1
2014-02-28 21:35:00       70       1
2014-02-28 21:34:00       54      -1
2014-02-28 21:41:00       69       1
2014-02-28 21:41:00       77      -1
2014-02-28 21:46:00       68       1
2014-02-28 21:50:00       66      -1
2014-02-28 22:03:00       47       1
2014-02-28 21:54:00       62      -1
2014-02-28 21:57:00       68       1
2014-02-28 22:19:00       65      -1
2014-02-28 22:34:00       47       1
2014-02-28 22:15:00       39      -1
2014-02-28 22:22:00       66       1
2014-02-28 22:38:00       45      -1
2014-02-28 22:40:00       42       1
2014-02-28 22:45:00       60      -1
2014-02-28 22:56:00       76       1
2014-02-28 23:01:00       72      -1
2014-03-01 16:50:00       50       1
2014-02-28 23:20:00       64      -1
2014-02-28 23:30:00       65       1

[288030 rows x 2 columns]

In [5]:

stationChanges=stationChanges.reset_index()
stationChanges

                      Time  Station  Change
0      2013-08-29 14:13:00       66      -1
1      2013-08-29 14:14:00       66       1
2      2013-08-29 14:42:00       10      -1
3      2013-08-29 14:43:00       10       1
4      2013-08-29 10:16:00       27      -1
5      2013-08-29 10:17:00       27       1
6      2013-08-29 11:29:00       10      -1
7      2013-08-29 11:30:00       10       1
8      2013-08-29 12:02:00       66      -1
9      2013-08-29 12:04:00       67       1
10     2013-08-29 18:54:00       59      -1
11     2013-08-29 18:56:00       59       1
12     2013-08-29 13:25:00        4      -1
13     2013-08-29 13:27:00        5       1
14     2013-08-29 14:02:00        8      -1
15     2013-08-29 14:04:00        8       1
16     2013-08-29 17:01:00       66      -1
17     2013-08-29 17:03:00       66       1
18     2013-08-29 11:33:00       10      -1
19     2013-08-29 11:35:00       11       1
20     2013-08-29 13:52:00       49      -1
21     2013-08-29 13:55:00       54       1
22     2013-08-29 13:23:00        6      -1
23     2013-08-29 13:25:00        4       1
24     2013-08-29 19:32:00       28      -1
25     2013-08-29 19:35:00       28       1
26     2013-08-29 13:57:00       64      -1
27     2013-08-29 13:59:00       64       1
28     2013-08-29 12:31:00       41      -1
29     2013-08-29 12:33:00       56       1
...                    ...      ...     ...
288000 2014-02-28 20:40:00       28      -1
288001 2014-02-28 20:45:00       32       1
288002 2014-02-28 20:59:00       77      -1
288003 2014-02-28 21:09:00       66       1
288004 2014-02-28 20:59:00       77      -1
288005 2014-02-28 21:06:00       72       1
288006 2014-02-28 21:32:00       41      -1
288007 2014-02-28 21:43:00       47       1
288008 2014-02-28 21:32:00       61      -1
288009 2014-02-28 21:35:00       70       1
288010 2014-02-28 21:34:00       54      -1
288011 2014-02-28 21:41:00       69       1
288012 2014-02-28 21:41:00       77      -1
288013 2014-02-28 21:46:00       68       1
288014 2014-02-28 21:50:00       66      -1
288015 2014-02-28 22:03:00       47       1
288016 2014-02-28 21:54:00       62      -1
288017 2014-02-28 21:57:00       68       1
288018 2014-02-28 22:19:00       65      -1
288019 2014-02-28 22:34:00       47       1
288020 2014-02-28 22:15:00       39      -1
288021 2014-02-28 22:22:00       66       1
288022 2014-02-28 22:38:00       45      -1
288023 2014-02-28 22:40:00       42       1
288024 2014-02-28 22:45:00       60      -1
288025 2014-02-28 22:56:00       76       1
288026 2014-02-28 23:01:00       72      -1
288027 2014-03-01 16:50:00       50       1
288028 2014-02-28 23:20:00       64      -1
288029 2014-02-28 23:30:00       65       1

[288030 rows x 3 columns]

In [6]:

stationChangesByMinute= stationChanges.groupby(['Time', 'Station'])[["Change"]].sum()

stationChangesByMinute=stationChangesByMinute.reset_index()
stationChangesByMinuteSorted = stationChangesByMinute.sort_values(['Station', 'Time'], ascending=[True, True])

stationChangesByMinuteSorted.to_csv('./extractedData/201402_StationChangesByMinute.csv')

                             Change
Time                Station
2013-08-29 09:08:00 64           -1
2013-08-29 09:11:00 64            1
2013-08-29 09:24:00 66           -3
2013-08-29 09:25:00 66           -1
2013-08-29 09:31:00 22           -1
2013-08-29 09:35:00 66           -1
2013-08-29 09:36:00 66           -1
2013-08-29 09:38:00 27           -1
2013-08-29 09:41:00 27            0
2013-08-29 09:42:00 45           -1
                    69            1
2013-08-29 09:43:00 69            3
2013-08-29 09:45:00 45            1
2013-08-29 09:46:00 27            1
2013-08-29 09:49:00 69            1
2013-08-29 09:52:00 66            1
2013-08-29 09:57:00 66           -1
2013-08-29 10:11:00 35           -1
2013-08-29 10:13:00 35           -1
2013-08-29 10:14:00 73           -1
                    75           -1
2013-08-29 10:16:00 27           -1
2013-08-29 10:17:00 27            1
                    66           -1
                    69           -1
2013-08-29 10:19:00 66           -1
                    76           -1
2013-08-29 10:20:00 27           -1
                    69            1
2013-08-29 10:22:00 41            1
...                             ...
2014-02-28 20:53:00 37            1
2014-02-28 20:59:00 77           -2
2014-02-28 21:06:00 72            1
2014-02-28 21:09:00 66            1
2014-02-28 21:32:00 41           -1
                    61           -1
2014-02-28 21:34:00 54           -1
2014-02-28 21:35:00 70            1
2014-02-28 21:41:00 69            1
                    77           -1
2014-02-28 21:43:00 47            1
2014-02-28 21:46:00 68            1
2014-02-28 21:50:00 66           -1
2014-02-28 21:54:00 62           -1
2014-02-28 21:57:00 68            1
2014-02-28 22:03:00 47            1
2014-02-28 22:15:00 39           -1
2014-02-28 22:19:00 65           -1
2014-02-28 22:22:00 66            1
2014-02-28 22:34:00 47            1
2014-02-28 22:38:00 45           -1
2014-02-28 22:40:00 42            1
2014-02-28 22:45:00 60           -1
2014-02-28 22:56:00 76            1
2014-02-28 23:01:00 72           -1
2014-02-28 23:20:00 64           -1
2014-02-28 23:30:00 65            1
2014-03-01 13:16:00 73            2
2014-03-01 16:50:00 50            1
2014-03-02 16:52:00 73            1

[259859 rows x 1 columns]

In [7]:
# Sum the counts per 10 minutes

                      Time  Station  Change
326    2013-08-29 13:10:00        2       1
421    2013-08-29 13:52:00        2      -1
770    2013-08-29 17:17:00        2       1
775    2013-08-29 17:19:00        2       1
813    2013-08-29 17:33:00        2      -1
1028   2013-08-29 19:18:00        2      -1
1064   2013-08-29 19:42:00        2       1
1095   2013-08-29 19:57:00        2      -1
1153   2013-08-29 20:36:00        2      -1
1231   2013-08-29 22:18:00        2       1
1239   2013-08-29 22:41:00        2       1
1331   2013-08-30 08:28:00        2      -1
1349   2013-08-30 08:41:00        2      -1
1493   2013-08-30 11:05:00        2       1
1740   2013-08-30 13:35:00        2       1
2038   2013-08-30 16:42:00        2       1
2240   2013-08-30 18:38:00        2      -1
2246   2013-08-30 18:43:00        2       1
2356   2013-08-30 19:51:00        2      -1
2419   2013-08-30 21:30:00        2       1
2564   2013-08-31 10:14:00        2       2
2691   2013-08-31 11:50:00        2       2
2956   2013-08-31 14:22:00        2      -1
3118   2013-08-31 16:06:00        2      -1
3197   2013-08-31 16:50:00        2       1
3278   2013-08-31 17:51:00        2      -2
3411   2013-08-31 20:03:00        2      -1
3412   2013-08-31 20:09:00        2      -2
3440   2013-08-31 21:17:00        2       1
3736   2013-09-01 11:59:00        2      -1
...                    ...      ...     ...
257796 2014-02-27 11:27:00       82      -1
257893 2014-02-27 12:39:00       82      -1
258246 2014-02-27 16:58:00       82      -1
258316 2014-02-27 17:24:00       82       1
258454 2014-02-27 18:04:00       82       1
258465 2014-02-27 18:07:00       82      -1
258572 2014-02-27 18:43:00       82      -1
258702 2014-02-27 19:50:00       82       1
258710 2014-02-27 19:56:00       82       1
258730 2014-02-27 20:21:00       82      -1
258814 2014-02-27 22:32:00       82      -1
258830 2014-02-27 23:15:00       82       1
258852 2014-02-28 05:31:00       82       1
258952 2014-02-28 08:22:00       82       1
258968 2014-02-28 08:33:00       82      -1
259157 2014-02-28 09:50:00       82       1
259167 2014-02-28 09:54:00       82      -1
259222 2014-02-28 10:53:00       82      -1
259244 2014-02-28 12:05:00       82       1
259434 2014-02-28 16:42:00       82       1
259535 2014-02-28 17:18:00       82       1
259638 2014-02-28 18:03:00       82      -1
259712 2014-02-28 18:38:00       82      -1
259801 2014-02-28 19:52:00       82       1
251376 2014-02-22 09:59:00       83      -2
251462 2014-02-22 11:33:00       83       2
254269 2014-02-24 19:08:00       83       1
254782 2014-02-25 08:24:00       83      -1
256242 2014-02-25 19:13:00       83       1
258667 2014-02-27 19:33:00       83       1

[259859 rows x 3 columns]

In [8]:
# Sum the counts per hour