In [16]:
%matplotlib inline
import pandas as pd


tripsDataFile = '../201402_Trips_WithBicycleDistanceSpeed.csv'

trips = pd.DataFrame.from_csv(tripsDataFile, index_col='Trip ID', encoding='utf-8')
trips = trips[(trips['Duration'] <= 5400) & (trips['Duration'] > 60)]

# startStationTripCounts  = trips[['Start Station']].groupby(['Start Station']).agg(['count'])

# startStationTripCounts=pd.DataFrame(trips.groupby(['startStationId']).size().rename('counts'))
# startStationTripCounts = startStationTripCounts.sort(['counts'], ascending=[0])
# startStationTripCounts

# .sort_values(by='Duration', ascending=False).head(n=15)

# Group by zones, and do a mean of the count, do a mean of the duration,

In [41]:
# import pandas as pd
# stationData = pd.DataFrame.from_csv('../201402_station_data.csv')
# # help(sampleTripMilestones)

# stationDict={}
# for index, row in stationData.reset_index().iterrows():
#     stationDict[row['name']] = row['station_id']

zoneCount={}
zoneCount['SJC']= 16
zoneCount['RDWD']=7
zoneCount['MVIEW']=7
zoneCount['PALTO']=5
zoneCount['SFO']=35

def groupByZone(stationId):
    stationId=int(stationId)
    zone = ''
    if ( 2 <= stationId <=16) :
        zone = "SJC"
    elif (21 <= stationId <= 26) :
        zone = "RDWD"
    elif (27 <= stationId <= 33) :
        zone = "MVIEW"
    elif (34 <= stationId <= 38) :
        zone = "PALTO"
    elif (39 <= stationId <= 77) :
        zone = "SFO"
    elif (stationId == 80) :
        zone = "SJC"
    elif (stationId == 83) :
        zone = zone = "RDWD"
    elif (stationId == 82) :
        zone = "SFO"
    else:
        zone = "UNK"
    return zone

trips['stationZone']=trips['startStationId'].map(groupByZone)
# trips['stationZone','startStationId']
tripStationZones = trips['stationZone'].reset_index()
tripStationZones
# zoneStationCounts = trips['stationZone','stationId'].groupby(['stationZone', 'stationId']).agg({'tripCount': 'count'})
zoneStationCounts = tripStationZones.groupby(['stationZone'])['Trip ID'].count().reset_index(name="tripCount")
zoneStationCounts['zoneStationCount'] = zoneStationCounts['stationZone'].map(lambda zone: zoneCount[zone])
zoneStationCounts['tripsPerStation']=zoneStationCounts['tripCount']/zoneStationCounts['zoneStationCount']


zoneStationCounts

  stationZone  tripCount  zoneStationCount  tripsPerStation
0       MVIEW       2566                 7       366.571429
1       PALTO       1491                 5       298.200000
2        RDWD        745                 7       106.428571
3         SFO     126157                35      3604.485714
4         SJC       8709                16       544.312500

In [56]:
# tripStationZones
# SFStationCounts = trips[trips['stationZone']=='SFO']
sfoTrips = trips[trips['stationZone']=='SFO']
sfoTrips = sfoTrips['startStationId'].reset_index()
sfoTrips
SFStationCounts = sfoTrips.groupby(['startStationId'])['Trip ID'].count().reset_index(name="tripCount")
SFStationCounts.sort(['tripCount'], ascending=[0])

/Users/p2723777/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:7: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

    startStationId  tripCount
26              70       9745
8               50       6879
16              60       6236
33              77       5747
11              55       5074
25              69       4931
17              61       4910
30              74       4809
32              76       4774
21              65       4466
20              64       4416
29              73       3857
18              62       3732
0               39       3653
22              66       3476
23              67       3409
10              54       3395
7               49       3386
19              63       3213
12              56       2965
28              72       2953
9               51       2889
3               45       2807
31              75       2760
6               48       2627
27              71       2592
13              57       2549
5               47       2443
24              68       2398
1               41       2345
2               42       2238
15              59       1722
4               46       1368
14              58       1196
34              82        197